@{
    ViewData["Title"] = "开始页";
}

    <div class="text-center">
        <h2>请选择登录或注册</h2>
        <a href="Account\Login" style="font-size:20px">登录</a>
        <a href="Account\Signup" style="font-size:20px">注册</a>
    </div>
