@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our</h1>
    <h1 class="display-4">attendance management system</h1>
    <a href="Account\Login">LOGIN</a>
    <a href="Account\Signup">SIGNUP</a>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
