@model mvc_test.Models.teacher
@{
    ViewData["Title"] = "teacher_menu";
}

<h1>teacher_menu</h1>

<a href="/users/teacher_Index">填写个人信息</a>
<a href="/courses/Create">创建课程</a>
<a href="#" onclick="javascript:alert('开启成功');">开始签到</a>