@model mvc_test.Models.student

@{
    ViewData["Title"] = "学生-用户注册";
}

<h1>用户注册</h1>

<h4>学生</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp_s">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">学号</label>
                <input asp-for="num" class="form-control" />
                <span asp-validation-for="num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">姓名</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">性别</label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">电话</label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="注册" class="btn btn-primary" onclick="javascript: alert('注册成功');"/>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
