@model mvc_test.Models.teacher
@{
    ViewData["Title"] = "teacher_menu";
}

<h1>teacher_menu</h1>

<a href="/users/teacher_Index">填写个人信息</a>
<a href="/users/teacher_Index">创建课程</a>
<a href="/users/teacher_Index">开启签到</a>