@model mvc_test.Models.course

@{
    ViewData["Title"] = "课程创建";
}

<h1>课程创建</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">教师编号</label>
                <input asp-for="T_num" class="form-control" />
                <span asp-validation-for="T_num" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">课程编号</label>
                <input asp-for="course_id" class="form-control" />
                <span asp-validation-for="course_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">课程名称</label>
                <input asp-for="course_name" class="form-control" />
                <span asp-validation-for="course_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="创建" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回课程列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
